:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
  
  a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  }
  a:hover {
  color: #535bf2;
  }
  
  h1 {
  font-size: 3.2em;
  line-height: 1.1;
  }
  
  button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  }
  button:hover {
  border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
  }

  @media (prefers-color-scheme: light) {
    :root {
    color: #213547;
    background-color: #ffffff;
    }
    a:hover {
    color: #747bff;
    }
    button {
    background-color: #f9f9f9;
    }
    }

html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
  min-height: 100%;
  padding-bottom: 5rem;
}

h1,
h2 {
  color: white;
  padding: 3rem 0;
  text-align: center;

  text-transform: uppercase;

  font-family: 'Staatliches', cursive;
  letter-spacing: 1px;
}

.lista-citas .media {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 3rem;
}

.lista-citas .media:last-of-type {
  border-bottom: 0;
}

.lista-citas .media-body p {
  margin: 0;
}

.lista-citas .media-body button {
  margin-top: 1rem !important;
}

.lista-citas .media-body span {
  font-weight: bold;
}

label {
  color: white;
}

input[type="date"],
input[type="time"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

.cita {
  padding: 2rem;
  background: white;
  border-bottom: 1px solid #e1e1e1;
  color: black;
  margin-bottom: 20px;
}

.cita p {
  font-weight: bold;
  margin-bottom: .8rem;
}

.cita p span {
  font-weight: normal;

}

.cita:first-of-type {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.cita:last-of-type {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.button.eliminar,
.button.eliminar:hover {
  background-color: #c10059;
  color: white;
  margin-top: 2rem;
}

.alerta-error {
  background-color: white;
  color: red;
  padding: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Staatliches', cursive;
}